.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	background: white;
	padding: 20px;
	border-radius: 15px;
	box-shadow: 0 0 1px gray;
	font-size: 20px;

	& button {
		color: white;
		width: 50px;
		height: 30px;
		background: linear-gradient(to right, #7CB8F7, #2A8BF2);
		border: none;
		border-radius: 10px;
	}

	& span {
		margin: 0 5px;
	}

	.active {
		//font-size: 18px;
		font-weight: bold;
		transition: 0.4s;
	}
}