@import 'src/scss/variables';
@import 'src/scss/mixins';

.button {
  position: relative;

  display: flex;
  justify-content: center;

  width: 130px;
  height: 45px;

  text-align: center;

  &__item {
    @include primaryFont(400, 18px, $bgColor);

    cursor: pointer;

    position: relative;

    align-items: center;

    width: 120px;
    height: 40px;

    border: none;
    border-radius: 10px;

    transition: 0.2s;

    &_primary {
      @include bgButtonGradient;
    }

    &_secondary {
      background-color: grey;
    }

    &:not([disabled]):hover {
      width: 130px;
      height: 45px;
    }

    & :disabled {
      opacity: 0.7;
    }
  }
}
