

.auth {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	width: 100%;
	height: 100%;
	border-radius: 15px;


	&__form {
		display: flex;
		flex-direction: column;
		width: 300px;

	}

	&__input {
		height: 45px;
		border-radius: 10px;
		margin-bottom: 25px;
		border: 2px solid grey;
		padding: 10px;
		font-size: 18px;
		color: #707C97;

		&:focus {
			outline: none;
			border-color: #2A8BF2;
		}
	}

	&__checkbox {
		margin-bottom: 25px;

		& span {
			margin-left: 15px;
		}
	}

	&__btnWrap {
		display: flex;
		justify-content: space-between;
	}

	&__btn {
		width: 130px;
		height: 50px;
		border-radius: 10px;
		border: none;
		color: white;
		font-size: 18px;
		background: linear-gradient(to right, #7CB8F7, #2A8BF2);
	}
}
