@import "src/scss/variables";
@import "src/scss/mixins";

.auth {
	display: flex;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	& h3 {
		margin: 0;
	}

	&__wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		padding: 20px;
		width: 380px;
		background-color: $bgColor;
		border-radius: 10px;
	}

	&__description {
		margin: 30px;
		font-size: 16px;
	}



	&__form {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 300px;
		height: 300px;

	}

	&__input {
		height: 45px;
		border-radius: 10px;
		margin-top: 30px;
		border: 2px solid grey;
		padding: 10px;
		font-size: 18px;
		color: #707C97;

		&:focus {
			outline: none;
			border-color: #2A8BF2;
		}

		&:first-child {
			margin-top: 0;
		}
	}

	&__error {
		margin-top: 10px;
		font-size: 14px;
		color: red;
	}

	&__checkbox {
		margin-top: 30px;

	}

	&__btnWrap {
		margin-top: 35px;
		display: flex;
		justify-content: space-between;
	}
}
