@mixin primaryFont($weight, $size, $color) {
  font-family: Montserrat, sans-serif;
  font-size: $size;
  font-weight: $weight;
  line-height: 1.3;
  color: $color;
}

@mixin bgButtonGradient() {
  background: linear-gradient(to right, #7cb8f7, #2a8bf2);
}
