@import 'src/scss/variables';
@import 'src/scss/mixins';

.userBox {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 10px;
  padding: 10px;

  font-size: 18px;

  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 1px gray;

  .userImg {
    & img {
      width: 60px;
      border-radius: 10px;
    }
  }

  .userInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    min-height: 70px;
    margin-left: 15px;

    &__name {
      font-size: 20px;
      font-weight: bold;
      font-style: italic;
    }
  }
}
