@import "src/scss/variables";
@import "src/scss/mixins";


.userBox {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	//justify-content: space-around;
	align-items: center;
	//border: gray solid 1px;
	border-radius: 10px;
	box-shadow: 0 0 1px gray;
	margin-top: 10px;
	font-size: 18px;
	background-color: white;

	.userImg {

		& img {
			width: 60px;
			border-radius: 10px;
		}
	}

	.userInfo {
		min-height: 70px;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-left: 15px;

		&__name {
			font-style: italic;
			font-weight: bold;
			font-size: 20px;
		}
	}

	& button {
		width: 120px;
		height: 40px;
		border: none;
		color: white;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 18px;
		@include bgButtonGradient();
		border-radius: 10px;
	}

	& button:disabled {
		opacity: 70%;
	}
}
