@import 'src/shared/scss/variables';
@import 'src/shared/scss/mixins';

.header {
  display: flex;
  align-items: center;
  background-color: $bgColor;

  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 95px;
  }

  &__login {
    & a {
      text-decoration: none;
    }
  }
}
