@mixin colorWhite {
	background-color: #FFFFFF;
}

* {
	box-sizing: border-box;
}

.App {
	background-color: #F3F3FB;
	color: #707C97;
	min-height: 100vh;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.content {
	width: 100%;
}

.header {
	display: flex;
	height: 74px;
	align-items: center;
	@include colorWhite;
	&__logo {
		width: 95px;
	}
}

.page {
	margin-top: 15px;
	.container {
		display: flex;
	}
}

.sidebar {
	min-width: 200px;
	height: 450px;
	@include colorWhite;
	margin-right: 20px;
	border-radius: 10px;

	& .menu {
		margin-top: 20px;

		&__item {
			margin-top: 5px;

			&_active {
				background: linear-gradient(to right, #7CB8F7, #ffff 8px);
			}
		}

		& a {
			font-size: 20px;
			padding-left: 20px;
			text-decoration: none;
			color: #707C97;
		}
	}

}


.profile {

	.user {
		display: flex;
		background-color: white;
		width: 100%;
		padding: 15px;
		border-radius: 15px;
		font-size: 18px;

		&__img {
			height: 200px;

			img {
				width: 200px;
				height: 200px;
				border-radius: 15px;
				margin: 0;
				padding: 0;
			}
		}

		&__info {
			margin-left: 25px;
		}
		&__name {
			font-weight: bold;
		}

	}



	//компонетна NewPost -->

	.new-post {
		width: 450px;
		background-color: white;
		border-radius: 15px;
		padding: 10px;
		margin-top: 15px;
		font-size: 18px;

		&__txt {
			margin-top: 15px;

			textarea {
				width: 100%;
				border-radius: 5px;
			}
		}

		&__btn {
			display: flex;
			justify-content: end;
			margin-top: 15px;


			& button {
				width: 80px;
				height: 30px;
				border: none;
				color: white;
				text-align: center;
				text-decoration: none;
				font-size: 16px;
				background: linear-gradient(to right, #7CB8F7, #2A8BF2);
				border-radius: 10px;
			}
		}
	}
}

//components Post -->

.posts {
	width: 100%;
	
	.user-post {
		display: flex;
		align-items: center;
		background-color: white;
		border-radius: 15px;
		margin-top: 15px;
		padding: 10px;
		position: relative;
		font-size: 18px;

		&__user-img {
			margin-right: 25px;
			img {
				width: 90px;
				border-radius: 100%;
			}
		}

		&__like {
			position: absolute;
			bottom: 10px;
			right: 10px;
		}
	}
}

//для компонетны Dialogs

.dialogs-wrap {
	display: flex;
	align-items: start;
	width: 100%;
	padding: 10px;
	& a {
		text-decoration: none;
	}

	.chat-users {
		display: flex;
		justify-items: center;
		align-items: center;
		width: 350px;
		margin-top: 20px;
		margin-left: 20px;

		& img {
			width: 60px;
			border-radius: 100%;
		}

		.user-name {
			margin-left: 20px;
		}
	}

	.dialogs {
		padding-left: 25px;
		width: 400px;

		border-left: #282c34 solid 1px;

		.message {
			display: flex;
			max-width: 450px;
			align-items: end;
			margin-top: 15px;

		}

		.message .imgWrap {
			display: flex;
			width: 200px;

		}

		.message .imgWrap img {
			margin: 0 auto;
			width: 60px;
			height: 60px;
			border-radius: 100%;

		}

		.message .messageWrap {
			border-radius: 8px 8px 8px 0;
			background-color: rgba(0,0,0, .3);
			width: 100%;
			position: relative;
			padding: 20px 10px;
		}

		.message .messageWrap:after {
			content: '';
			position: absolute;
			left: -20px;
			bottom: 0;
			border-bottom: 10px solid rgba(0,0,0, .3);
			border-left: 20px solid transparent;

		}

		.message .messageWrap .userName {
			color: blue;
		}

		.message .messageWrap .userTxt {
			color: white;
			margin-top: 15px;
		}

		.message .messageWrap .messageTime {
			position: absolute;
			font-size: 12px;
			bottom: 5px;
			right: 5px;
			color: rgba(255,255,255,.6);
		}


		.new-messages {
			display: flex;
			margin-top: 55px;

			& img {
				width: 80px;
				border-radius: 10px;
				margin-right: 10px;
			}
		}


	}
}


// usersPage --------------------------

.user-box {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	//justify-content: space-around;
	align-items: center;
	//border: gray solid 1px;
	border-radius: 10px;
	margin-top: 10px;
	font-size: 18px;
	background-color: white;

	.user-img img {
		width: 60px;
		border-radius: 10px;
	}

	.user-info {
		min-height: 70px;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-left: 15px;

		&__name {
			font-style: italic;
			font-weight: bold;
			font-size: 20px;
		}
	}

	& button {
		width: 120px;
		height: 40px;
		border: none;
		color: white;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 18px;
		background: linear-gradient(to right, #7CB8F7, #2A8BF2);
		border-radius: 10px;
	}
}
