.container {
	width: 1200px;
	margin: 0 auto;
}

.content {
	width: 100%;
}

.header {
	display: flex;
	height: 74px;
	align-items: center;
	background-color: grey;
	&__logo {
		width: 95px;
	}
}

.page {
	margin-top: 15px;
	.container {
		display: flex;
	}
}

.sidebar {
	width: 250px;
	height: 550px;
	background-color: #61dafb;
	margin-right: 25px;

	& li {
		list-style-type: none;
	}
	& a {
		text-decoration: none;
	}

}

.profile {

	.user {
		display: flex;
		background-color: aqua;

		&__img{
			margin-right: 15px;

			img {
				width: 200px;
				border-radius: 20px ;
			}
		}
	}

	//компонетна NewPost -->

	.new-post {
		width: 450px;
		background-color: #61dafb;
		padding: 10px;
		margin-top: 15px;

		&__txt {
			margin-top: 15px;

			textarea {
				width: 100%;
			}
		}

		&__btn {
			display: flex;
			justify-content: end;
			margin-top: 15px;
		}
	}
}

//components Post -->

.posts {
	width: 600px;
	
	.user-post {
		display: flex;
		align-items: center;
		background-color: #61dafb;
		margin-top: 15px;
		padding: 10px;
		position: relative;

		&__user-img {
			margin-right: 25px;
			img {
				width: 90px;
				border-radius: 100%;
			}
		}

		&__like {
			position: absolute;
			bottom: 10px;
			right: 10px;
		}
	}
}

//для компонетны Dialogs

.dialogs-wrap {
	display: flex;
	align-items: start;
	width: 100%;
	padding: 10px;
	& a {
		text-decoration: none;
	}

	.chat-users {
		display: flex;
		justify-items: center;
		align-items: center;
		width: 350px;
		margin-top: 20px;
		margin-left: 20px;

		& img {
			width: 60px;
			border-radius: 100%;
		}

		.user-name {
			margin-left: 20px;
		}
	}

	.dialogs {
		padding-left: 25px;
		width: 400px;

		border-left: #282c34 solid 1px;

		.message {
			display: flex;
			max-width: 450px;
			align-items: end;
			margin-top: 15px;

		}

		.message .imgWrap {
			display: flex;
			width: 200px;

		}

		.message .imgWrap img {
			margin: 0 auto;
			width: 60px;
			height: 60px;
			border-radius: 100%;

		}

		.message .messageWrap {
			border-radius: 8px 8px 8px 0;
			background-color: rgba(0,0,0, .3);
			width: 100%;
			position: relative;
			padding: 20px 10px;
		}

		.message .messageWrap:after {
			content: '';
			position: absolute;
			left: -20px;
			bottom: 0;
			border-bottom: 10px solid rgba(0,0,0, .3);
			border-left: 20px solid transparent;

		}

		.message .messageWrap .userName {
			color: blue;
		}

		.message .messageWrap .userTxt {
			color: white;
			margin-top: 15px;
		}

		.message .messageWrap .messageTime {
			position: absolute;
			font-size: 12px;
			bottom: 5px;
			right: 5px;
			color: rgba(255,255,255,.6);
		}


		.new-messages {
			display: flex;
			margin-top: 55px;

			& img {
				width: 80px;
				border-radius: 10px;
				margin-right: 10px;
			}
		}


	}
}


// usersPage --------------------------

.user-box {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	//justify-content: space-around;
	align-items: center;
	//border: gray solid 1px;
	border-radius: 10px;
	margin-top: 10px;
	font-size: 18px;
	background-color: #61dafb;

	.user-img img {
		width: 60px;
		border-radius: 10px;
	}

	.user-info {
		min-height: 70px;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-left: 15px;

		&__name {
			font-style: italic;
			font-size: 20px;
		}
	}

	& button {
		width: 100px;
		height: 30px;
		background-color: gray;
		border: none;
		color: white;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		border-radius: 10px;
	}
}
