@import 'src/scss/variables';
@import 'src/scss/mixins';

.posts {
  width: 100%;

  .post {
    position: relative;

    display: flex;
    align-items: center;

    margin-top: 15px;
    padding: 10px;

    font-size: 18px;

    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 1px gray;

    &__user {
      margin-right: 25px;

      img {
        width: 90px;
        border-radius: 100%;
      }
    }

    &__like {
      position: absolute;
      right: 10px;
      bottom: 10px;
    }
  }
}
