@import "src/scss/variables";
@import "src/scss/mixins";

.posts {
	width: 100%;

	.post {
		display: flex;
		align-items: center;
		background-color: white;
		border-radius: 15px;
		box-shadow: 0 0 1px gray;
		margin-top: 15px;
		padding: 10px;
		position: relative;
		font-size: 18px;

		&__user {
			margin-right: 25px;
			img {
				width: 90px;
				border-radius: 100%;
			}
		}

		&__like {
			position: absolute;
			bottom: 10px;
			right: 10px;
		}
	}
}